
 <mat-card-header>
    <div class="center-content"><mat-card-title>Inicio Sesión</mat-card-title></div>
    </mat-card-header>
    <form autocomplete="off">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Usuario">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput type="password" placeholder="Contraseña">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="succes" type="submit" class="btn-block margin">ACCEDER</button>
    </form>
    <mat-card-footer>
      <div class="center-content margin"><mat-label><a href="/auth/register">Regístrate aquí</a></mat-label></div>
      <div class="center-content margin"><mat-label><a href="/auth/password">¿Has olvidado tu contraseña?</a></mat-label></div>
    </mat-card-footer>

  